* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: #131313;
}
button:hover {
  background-color: rgba(253, 246, 246, 0.596);
}
.header {
  height: 250px;
  /* background-color: #131313; */
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.again {
  align-self: flex-start;
  width: 15rem;
  height: 5.5rem;
  color: #000;
  background-color: #eee;
  border: none;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.header p {
  font-size: 2.3rem;
  margin-top: 20px;
  color: #eee;
  margin-right: 20px;
}
h1 {
  color: #eee;
  font-size: 6.6rem;
  display: flex;
  align-items: center;
}
.number {
  font-size: 10rem;
  background-color: #eee;
  width: 15rem;
  height: 12rem;
  display: block;
  text-align: center;
}
.line {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #eee;
  height: 0.8rem;
  display: flex;
  align-items: center;
}
h2 {
  color: #eee;
}
.footer {
  display: flex;
  margin-top: 8rem;
  justify-content: space-around;
}
.check {
  /* align-self: center; */
  width: 15rem;
  height: 5.5rem;
  color: #000;
  background-color: #eee;
  border: none;
  font-weight: 600;
  font-size: 2.5rem;
  /* margin-top: 20px;
  margin-left: 20px; */
  cursor: pointer;
}
.footer1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 40rem;
}
.rand {
  width: 25rem;
  height: 11rem;
  background-color: #131313;
  border: 4px solid #eee;
  cursor: pointer;
}
.footer2 p {
  color: #eee;
  font-size: 3rem;
  line-height: 1.4;
}
.score1 {
  margin-top: 3rem;
}
input {
  color: #eee;
  font-size: 4rem;
  text-align: center;
}
/* header p {
  color: white;
  font-size: 25px;
} */
.win {
  background-color: orange;
}
